.u-section-1 .u-sheet-1 {
  min-height: 686px;
}

.u-section-1 .u-image-1 {
  width: 474px;
  height: 590px;
  margin: 48px auto 0 45px;
}

.u-section-1 .u-text-1 {
  margin: -557px 48px 0 570px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 48px 41px 0 570px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 62px auto 0 570px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  margin: -30px auto 60px 626px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-1 .u-image-1 {
    width: 374px;
    height: 466px;
    margin-left: 38px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -433px;
    margin-right: 28px;
    margin-left: 470px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-right: 38px;
    margin-left: 460px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 78px;
    margin-left: 460px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 522px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-1 .u-image-1 {
    width: 230px;
    height: 287px;
    margin-top: 87px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -293px;
    margin-right: 0;
    margin-left: 278px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 24px;
    margin-left: 254px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 22px;
    margin-left: 247px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 301px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-1 .u-image-1 {
    height: 286px;
    margin-top: 133px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -339px;
    margin-left: 18px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 286px;
    margin-left: 48px;
    margin-right: 48px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 18px;
    margin-left: 159px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 10px;
    margin-left: 209px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 109px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-left: -6px;
    margin-right: -6px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 20px;
    margin-left: 58px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -32px;
    margin-bottom: 60px;
    margin-left: 110px;
  }
}