.u-section-1 .u-sheet-1 {
  min-height: 133px;
}

.u-section-1 .u-text-1 {
  margin: 40px 0;
}.u-section-2 .u-sheet-1 {
  min-height: 485px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1059px;
  margin: 40px auto 39px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 66px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 354px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-table-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-block-9bfe-50 {
  background-image: none;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 66px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 358px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-form-1 {
  height: 177px;
  margin-top: 80px;
  margin-bottom: 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  background-image: none;
  padding: 7px 31px 7px 29px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  margin: -40px auto 0 157px;
  padding: 6px 0 7px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 50px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 368px;
  }

  .u-section-2 .u-table-1 {
    height: 350px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 51px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 386px;
  }

  .u-section-2 .u-form-1 {
    margin-top: 101px;
  }

  .u-section-2 .u-btn-1 {
    border-style: none;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 159px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 267px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    min-height: 106px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 39px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 373px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 103px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 41px;
    margin-bottom: 41px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 75px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 337px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 44px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 191px;
  }

  .u-section-2 .u-form-1 {
    margin-top: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: auto;
    margin-left: 158px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 395px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 78px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 27px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
    margin-left: auto;
  }
}