.u-section-1 .u-sheet-1 {
  min-height: 686px;
}

.u-section-1 .u-image-1 {
  width: 474px;
  height: 590px;
  margin: 48px auto 0 48px;
}

.u-section-1 .u-text-1 {
  margin: -557px 48px 0 570px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 48px 48px 60px 570px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 418px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 418px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 198px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 198px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 18px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 423px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -390px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}